#wholepage{}

body {
  /*background-color: #D6EAF8;*/
  background-color: #ffffff;
  font-size: 17px;
  color: black;
  font-family: monospace;
}

h1  {
  font-size: 32px;
  text-align: center;
  font-family: monospace;
}

h3  {
  font-size: 17px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

h4  {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}


p {
  margin-left: 20px;
  font-family: monospace;
}

.logo{
	position:absolute;
	top:0;
	left:0;
}

.images{
  text-align: center;
}

.buttons {
  /*
  -webkit-text-align: center;
  text-align: center;
  align-items: center;
  */
  font-weight: bold;
  text-align: center;
  font-family: monospace;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width:50.00%;
  padding: 0px;
  background-color: #FFFFFF;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 9px;
    font-family: monospace;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #555;
    cursor: default;

}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.dropdown-content {
    border-radius: 0px;
    display: none;
    position: absolute;
    /*border: 1px solid #555;*/
    background-color: #FFFFFF;
    min-width: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-text-align: left;
    text-align: left;
    align-items: flex-start;
}

.dropdown-content-long {
    border-radius: 0px;
    display: none;
    position: absolute;
    /*border: 1px solid #555;*/
    background-color: #FFFFFF;
    width: 420px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-text-align: left;
    text-align: left;
    align-items: flex-start;
}

.dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid #555;
    display: block;
}

.dropdown-content-long a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    border: 1px solid #555;
    display: block;
}

.dropdown-content a:hover {background-color: #E8E8E8; cursor: default;}
.dropdown-content-long a:hover {background-color: #E8E8E8; cursor: default;}


.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content-long {
    display: block;
}

/* hover color for main buttons*/
.dropdown:hover .dropbtn {
    background-color: #e6e6e6;

}
